Repository estatekitzach/ek-user-key-service-yk7cd7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estatekit/lead-architects, @estatekit/security-team, @estatekit/core-team, @estatekit/infrastructure-team, @estatekit/api-team, @estatekit/qa-team, @estatekit/devops-team

.github/CODEOWNERS:

# Format: path_pattern team_or_username
# The last matching pattern takes precedence

# Default owners for everything in the repo
# These owners will be the default owners for everything in the repository
* @estatekit/lead-architects

# Security-sensitive AWS KMS integration requiring security team review
# Requires 2 security team reviews
src/backend/src/EstateKit.Infrastructure/Services/AwsKmsService.cs @estatekit/security-team

# Security-sensitive configuration files requiring dual team review
# Requires 2 reviews from security and core teams
src/backend/src/EstateKit.Core/Configuration/ @estatekit/security-team @estatekit/core-team

# AWS service implementations requiring infrastructure and security review
# Requires 2 reviews from infrastructure and security teams
src/backend/src/EstateKit.Infrastructure/Services/ @estatekit/infrastructure-team @estatekit/security-team

# Core domain logic and interfaces
src/backend/src/EstateKit.Core/ @estatekit/core-team

# Infrastructure implementations
src/backend/src/EstateKit.Infrastructure/ @estatekit/infrastructure-team

# API endpoints and controllers
src/backend/src/EstateKit.Api/ @estatekit/api-team

# Test suites and testing infrastructure
src/backend/test/ @estatekit/qa-team

# Infrastructure as Code and Kubernetes configurations
infrastructure/ @estatekit/devops-team

# CI/CD workflow configurations
.github/workflows/ @estatekit/devops-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Exceptions/KeyNotFoundException.cs
  src/backend/src/EstateKit.Core/Exceptions/KeyNotFoundException.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Exceptions/KeyRotationInProgressException.cs
  src/backend/src/EstateKit.Core/Exceptions/KeyRotationInProgressException.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Interfaces/ICacheService.cs
  src/backend/src/EstateKit.Core/Interfaces/ICacheService.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Interfaces/IEncryptionService.cs
  src/backend/src/EstateKit.Core/Interfaces/IEncryptionService.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Interfaces/IKeyManagementService.cs
  src/backend/src/EstateKit.Core/Interfaces/IKeyManagementService.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Interfaces/IKeyRotationService.cs
  src/backend/src/EstateKit.Core/Interfaces/IKeyRotationService.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Interfaces/IUserKeyRepository.cs
  src/backend/src/EstateKit.Core/Interfaces/IUserKeyRepository.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Infrastructure/EstateKit.Infrastructure.csproj
  src/backend/src/EstateKit.Infrastructure/EstateKit.Infrastructure.csproj
Owners: @estatekit/infrastructure-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Infrastructure/Caching/RedisCacheService.cs
  src/backend/src/EstateKit.Infrastructure/Caching/RedisCacheService.cs
Owners: @estatekit/infrastructure-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Infrastructure/Data/ApplicationDbContext.cs
  src/backend/src/EstateKit.Infrastructure/Data/ApplicationDbContext.cs
Owners: @estatekit/infrastructure-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Infrastructure/Data/Configurations/UserKeyConfiguration.cs
  src/backend/src/EstateKit.Infrastructure/Data/Configurations/UserKeyConfiguration.cs
Owners: @estatekit/infrastructure-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Infrastructure/Data/Configurations/UserKeyHistoryConfiguration.cs
  src/backend/src/EstateKit.Infrastructure/Data/Configurations/UserKeyHistoryConfiguration.cs
Owners: @estatekit/infrastructure-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Infrastructure/Data/Migrations/InitialCreate.cs
  src/backend/src/EstateKit.Infrastructure/Data/Migrations/InitialCreate.cs
Owners: @estatekit/infrastructure-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Infrastructure/Data/Repositories/UserKeyRepository.cs
  src/backend/src/EstateKit.Infrastructure/Data/Repositories/UserKeyRepository.cs
Owners: @estatekit/infrastructure-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Infrastructure/Extensions/ServiceCollectionExtensions.cs
  src/backend/src/EstateKit.Infrastructure/Extensions/ServiceCollectionExtensions.cs
Owners: @estatekit/infrastructure-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Infrastructure/Services/AwsKmsService.cs
  src/backend/src/EstateKit.Infrastructure/Services/AwsKmsService.cs
Owners: @estatekit/infrastructure-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Infrastructure/Services/EncryptionService.cs
  src/backend/src/EstateKit.Infrastructure/Services/EncryptionService.cs
Owners: @estatekit/infrastructure-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Infrastructure/Services/KeyRotationService.cs
  src/backend/src/EstateKit.Infrastructure/Services/KeyRotationService.cs
Owners: @estatekit/infrastructure-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/test/EstateKit.Api.Tests/EstateKit.Api.Tests.csproj
  src/backend/test/EstateKit.Api.Tests/EstateKit.Api.Tests.csproj
Owners: @estatekit/qa-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/test/EstateKit.Api.Tests/Controllers/DecryptControllerTests.cs
  src/backend/test/EstateKit.Api.Tests/Controllers/DecryptControllerTests.cs
Owners: @estatekit/qa-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/test/EstateKit.Api.Tests/Controllers/EncryptControllerTests.cs
  src/backend/test/EstateKit.Api.Tests/Controllers/EncryptControllerTests.cs
Owners: @estatekit/qa-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/test/EstateKit.Api.Tests/Controllers/KeyControllerTests.cs
  src/backend/test/EstateKit.Api.Tests/Controllers/KeyControllerTests.cs
Owners: @estatekit/qa-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/test/EstateKit.Api.Tests/Controllers/RotateControllerTests.cs
  src/backend/test/EstateKit.Api.Tests/Controllers/RotateControllerTests.cs
Owners: @estatekit/qa-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/test/EstateKit.Core.Tests/EstateKit.Core.Tests.csproj
  src/backend/test/EstateKit.Core.Tests/EstateKit.Core.Tests.csproj
Owners: @estatekit/qa-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/test/EstateKit.Core.Tests/Services/EncryptionServiceTests.cs
  src/backend/test/EstateKit.Core.Tests/Services/EncryptionServiceTests.cs
Owners: @estatekit/qa-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/test/EstateKit.Core.Tests/Services/KeyRotationServiceTests.cs
  src/backend/test/EstateKit.Core.Tests/Services/KeyRotationServiceTests.cs
Owners: @estatekit/qa-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/test/EstateKit.Infrastructure.Tests/EstateKit.Infrastructure.Tests.csproj
  src/backend/test/EstateKit.Infrastructure.Tests/EstateKit.Infrastructure.Tests.csproj
Owners: @estatekit/qa-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/test/EstateKit.Infrastructure.Tests/Repositories/UserKeyRepositoryTests.cs
  src/backend/test/EstateKit.Infrastructure.Tests/Repositories/UserKeyRepositoryTests.cs
Owners: @estatekit/qa-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/test/EstateKit.Infrastructure.Tests/Services/AwsKmsServiceTests.cs
  src/backend/test/EstateKit.Infrastructure.Tests/Services/AwsKmsServiceTests.cs
Owners: @estatekit/qa-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/test/EstateKit.Infrastructure.Tests/Services/RedisCacheServiceTests.cs
  src/backend/test/EstateKit.Infrastructure.Tests/Services/RedisCacheServiceTests.cs
Owners: @estatekit/qa-team
