Repository estatekitzach/ek-user-key-service-yk7cd7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estatekit/lead-architects, @estatekit/security-team, @estatekit/core-team, @estatekit/infrastructure-team, @estatekit/api-team, @estatekit/qa-team, @estatekit/devops-team

.github/CODEOWNERS:

# Format: path_pattern team_or_username
# The last matching pattern takes precedence

# Default owners for everything in the repo
# These owners will be the default owners for everything in the repository
* @estatekit/lead-architects

# Security-sensitive AWS KMS integration requiring security team review
# Requires 2 security team reviews
src/backend/src/EstateKit.Infrastructure/Services/AwsKmsService.cs @estatekit/security-team

# Security-sensitive configuration files requiring dual team review
# Requires 2 reviews from security and core teams
src/backend/src/EstateKit.Core/Configuration/ @estatekit/security-team @estatekit/core-team

# AWS service implementations requiring infrastructure and security review
# Requires 2 reviews from infrastructure and security teams
src/backend/src/EstateKit.Infrastructure/Services/ @estatekit/infrastructure-team @estatekit/security-team

# Core domain logic and interfaces
src/backend/src/EstateKit.Core/ @estatekit/core-team

# Infrastructure implementations
src/backend/src/EstateKit.Infrastructure/ @estatekit/infrastructure-team

# API endpoints and controllers
src/backend/src/EstateKit.Api/ @estatekit/api-team

# Test suites and testing infrastructure
src/backend/test/ @estatekit/qa-team

# Infrastructure as Code and Kubernetes configurations
infrastructure/ @estatekit/devops-team

# CI/CD workflow configurations
.github/workflows/ @estatekit/devops-team

Add public-samples/ek-user-key-service-yk7cd7/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @estatekit/devops-team

Add public-samples/ek-user-key-service-yk7cd7/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @estatekit/devops-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @estatekit/lead-architects

Add public-samples/ek-user-key-service-yk7cd7/src/backend/.env.development
  src/backend/.env.development
Owners: @estatekit/lead-architects

Add public-samples/ek-user-key-service-yk7cd7/src/backend/.env.production
  src/backend/.env.production
Owners: @estatekit/lead-architects

Add public-samples/ek-user-key-service-yk7cd7/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @estatekit/lead-architects

Add public-samples/ek-user-key-service-yk7cd7/src/backend/EstateKit.Api.sln
  src/backend/EstateKit.Api.sln
Owners: @estatekit/lead-architects

Add public-samples/ek-user-key-service-yk7cd7/src/backend/README.md
  src/backend/README.md
Owners: @estatekit/lead-architects

Add public-samples/ek-user-key-service-yk7cd7/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @estatekit/lead-architects

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/EstateKit.Api.csproj
  src/backend/src/EstateKit.Api/EstateKit.Api.csproj
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/Program.cs
  src/backend/src/EstateKit.Api/Program.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/appsettings.Development.json
  src/backend/src/EstateKit.Api/appsettings.Development.json
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/appsettings.Production.json
  src/backend/src/EstateKit.Api/appsettings.Production.json
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/appsettings.json
  src/backend/src/EstateKit.Api/appsettings.json
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/Controllers/V1/DecryptController.cs
  src/backend/src/EstateKit.Api/Controllers/V1/DecryptController.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/Controllers/V1/EncryptController.cs
  src/backend/src/EstateKit.Api/Controllers/V1/EncryptController.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/Controllers/V1/KeyController.cs
  src/backend/src/EstateKit.Api/Controllers/V1/KeyController.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/Controllers/V1/RotateController.cs
  src/backend/src/EstateKit.Api/Controllers/V1/RotateController.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/DTOs/DecryptRequestDto.cs
  src/backend/src/EstateKit.Api/DTOs/DecryptRequestDto.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/DTOs/DecryptResponseDto.cs
  src/backend/src/EstateKit.Api/DTOs/DecryptResponseDto.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/DTOs/EncryptRequestDto.cs
  src/backend/src/EstateKit.Api/DTOs/EncryptRequestDto.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/DTOs/EncryptResponseDto.cs
  src/backend/src/EstateKit.Api/DTOs/EncryptResponseDto.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/DTOs/KeyGenerationRequestDto.cs
  src/backend/src/EstateKit.Api/DTOs/KeyGenerationRequestDto.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/DTOs/KeyGenerationResponseDto.cs
  src/backend/src/EstateKit.Api/DTOs/KeyGenerationResponseDto.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/DTOs/RotateKeyRequestDto.cs
  src/backend/src/EstateKit.Api/DTOs/RotateKeyRequestDto.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/DTOs/RotateKeyResponseDto.cs
  src/backend/src/EstateKit.Api/DTOs/RotateKeyResponseDto.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/Extensions/ApplicationBuilderExtensions.cs
  src/backend/src/EstateKit.Api/Extensions/ApplicationBuilderExtensions.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/Extensions/ServiceCollectionExtensions.cs
  src/backend/src/EstateKit.Api/Extensions/ServiceCollectionExtensions.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/Filters/ApiExceptionFilter.cs
  src/backend/src/EstateKit.Api/Filters/ApiExceptionFilter.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/Middleware/RequestLoggingMiddleware.cs
  src/backend/src/EstateKit.Api/Middleware/RequestLoggingMiddleware.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/Properties/launchSettings.json
  src/backend/src/EstateKit.Api/Properties/launchSettings.json
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Api/Swagger/SwaggerDefaultValues.cs
  src/backend/src/EstateKit.Api/Swagger/SwaggerDefaultValues.cs
Owners: @estatekit/api-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/EstateKit.Core.csproj
  src/backend/src/EstateKit.Core/EstateKit.Core.csproj
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Configuration/AwsConfiguration.cs
  src/backend/src/EstateKit.Core/Configuration/AwsConfiguration.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Configuration/CacheConfiguration.cs
  src/backend/src/EstateKit.Core/Configuration/CacheConfiguration.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Configuration/DatabaseConfiguration.cs
  src/backend/src/EstateKit.Core/Configuration/DatabaseConfiguration.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Configuration/KeyRotationConfiguration.cs
  src/backend/src/EstateKit.Core/Configuration/KeyRotationConfiguration.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Constants/ErrorCodes.cs
  src/backend/src/EstateKit.Core/Constants/ErrorCodes.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Entities/UserKey.cs
  src/backend/src/EstateKit.Core/Entities/UserKey.cs
Owners: @estatekit/core-team

Add public-samples/ek-user-key-service-yk7cd7/src/backend/src/EstateKit.Core/Entities/UserKeyHistory.cs
  src/backend/src/EstateKit.Core/Entities/UserKeyHistory.cs
Owners: @estatekit/core-team
